<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
    <link href="./app.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="exercise">
      <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
      <div>
        <button @click="show = !show">Toggle</button>
        <p v-if="show">You either see me ...</p>
        <p>...or me</p>
        <p v-if="show">You either see me ...</p>
        <p>...or me</p>
      </div>
      <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
      <ul>
        <li v-for="(food,index) in question2">{{food}}----{{index}}</li>
      </ul>
      <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
      <ul>
        <li v-for="(key,i) in LOR">{{key}} {{i}}</li>
      </ul>
      <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
      <ul>
        <li></li>
      </ul>
    </div>
    <!-- <div id="app">
      <ul>
        <li
          v-for="(ingredient,i) in ingredients"
          :key="Math.floor((Math.random() * 100) + 1)"
        >
          {{ingredient}} ({{i}})
        </li>
      </ul>
      <button @click="ingredients.push('fish')">add new ingredient</button>
      <hr />
      <ul>
        <li v-for="person in persons">
          <div v-for="(value,key,index) in person">
            {{key }}: {{value}} ({{index}})
          </div>
        </li>
      </ul>
      <span v-for="n in 10">{{n}}</span>
      <hr />
      <template v-for="(ingredient,index) in ingredients">
        <hi>{{ingredient}}</hi>
        <p>{{index}}</p>
      </template>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/index.js"></script>
  </body>
</html>
