<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
    <link href="./app.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient,i) in ingredients">{{ingredient}} ({{i}})</li>
      </ul>
      <template v-for="(ingredient,index) in ingredients">
        <hi>{{ingredient}}</hi>
        <p>{{index}}</p>
      </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/index.js"></script>
  </body>
</html>
